In [1]:
idade1 = 39
idade2 = 30
idade3 = 49

print(idade1)
print(idade2)
print(idade3)

39
30
49

In [2]:
idades = [39, 30, 49]

In [3]:
type(idades)

list

In [4]:
len(idades)

3

In [5]:
idades[0]

39

In [6]:
idades

[39, 30, 49]

In [7]:
print(idades[1])
print(idades[2])

30
49

In [8]:
idades.append(15)

In [9]:
idades

[39, 30, 49, 15]

In [11]:
for idade in idades:
    print(idade)

39
30
49
15

In [13]:
idades.remove(30)

In [14]:
idades

[39, 49, 15]

In [15]:
idades.append(15)

In [16]:
idades.remove(15)

In [17]:
idades

[39, 49, 15]

In [19]:
idades.append(49)
print(idades)
idades.remove(49) # remove o primeiro elemento
print(idades)

[39, 49, 15, 49, 49]
[39, 15, 49, 49]

In [20]:
28 in idades

False

In [21]:
15 in idades

True

In [22]:
if 15 in idades:
    idades.remove(15)

print(idades)

[39, 49, 49]

In [23]:
idades.append(19)
idades

[39, 49, 49, 19]

In [25]:
idades.insert(0, 20)
idades

[20, 39, 49, 49, 19]

In [26]:
idades = [20, 39, 18]
idades

[20, 39, 18]

In [27]:
idades.append([27, 19])

In [28]:
idades

[20, 39, 18, [27, 19]]

In [29]:
for elemento in idades:
    print("Recebi o elemento", elemento)

Recebi o elemento 20
Recebi o elemento 39
Recebi o elemento 18
Recebi o elemento [27, 19]

In [31]:
idades = [20, 39, 18]
idades.extend([27, 19])
idades

[20, 39, 18, 27, 19]

In [32]:
for idade in idades:
    print(idade + 1)

21
40
19
28
20

In [33]:
idades_no_ano_que_vem = []
for idade in idades:
    idades_no_ano_que_vem.append(idade + 1)

print(idades)
print(idades_no_ano_que_vem)

[20, 39, 18, 27, 19]
[21, 40, 19, 28, 20]

In [36]:
idades_no_ano_que_vem = [(idade + 1) for idade in idades]
idades_no_ano_que_vem

[21, 40, 19, 28, 20]

In [38]:
[idade for idade in idades if idade > 21]

[39, 27]

In [39]:
idades

[20, 39, 18, 27, 19]

In [41]:
def faz_processamento_de_visualizacao(lista):
    print(len(lista))
    lista.append(13)

In [44]:
idades = [16, 21, 29, 56, 43]
faz_processamento_de_visualizacao(idades)

5

In [49]:
def faz_processamento_de_visualizacao(lista = []):
    print(len(lista))
    lista.append(13)

In [52]:
def faz_processamento_de_visualizacao(lista = []):
    print(len(lista))
    lista.append(13)

faz_processamento_de_visualizacao()

0

In [53]:
faz_processamento_de_visualizacao()

1

In [54]:
faz_processamento_de_visualizacao()

2

In [55]:
faz_processamento_de_visualizacao()

3

In [57]:
def faz_processamento_de_visualizacao(lista = list()):
    print(len(lista))
    print(lista)
    lista.append(13)

faz_processamento_de_visualizacao()
faz_processamento_de_visualizacao()

0
[]
1
[13]

In [60]:
def faz_processamento_de_visualizacao(lista = None):
  if lista == None:
     lista = list()
     print(len(lista))
     print(lista)
     lista.append(13)

In [61]:
faz_processamento_de_visualizacao()

0
[]

In [63]:
faz_processamento_de_visualizacao()

0
[]

Objetos próprios

In [69]:
class ContaCorrente:
    
    def __init__(self, codigo):
        self.codigo = codigo
        self.saldo = 0
    
    def deposita(self, valor):
        self.saldo += valor
    
    def __str__(self):
        return "[>>Codigo {} Saldo {} <<]".format(self.codigo, self.saldo)

In [70]:
conda_do_pedro = ContaCorrente(15)
print(conda_do_pedro)

[>>Codigo 15 Saldo 0 <<]

In [71]:
conda_do_pedro.deposita(500)
print(conda_do_pedro)

[>>Codigo 15 Saldo 500 <<]

In [72]:
conta_da_dani = ContaCorrente(47685)
conta_da_dani.deposita(1000)
print(conta_da_dani)

[>>Codigo 47685 Saldo 1000 <<]

In [73]:
contas = [conda_do_pedro, conta_da_dani]
print(contas)

[<__main__.ContaCorrente object at 0x000001F082E79A30>, <__main__.ContaCorrente object at 0x000001F082E99730>]

In [74]:
for conta in contas:
    print(conta)

[>>Codigo 15 Saldo 500 <<]
[>>Codigo 47685 Saldo 1000 <<]

In [76]:
contas = [conda_do_pedro, conta_da_dani, conda_do_pedro]

In [78]:
print(contas[0])
print(contas[2])

[>>Codigo 15 Saldo 500 <<]
[>>Codigo 15 Saldo 500 <<]

In [79]:
conda_do_pedro.deposita(100)

In [81]:
print(contas[0])
print(contas[2])

[>>Codigo 15 Saldo 600 <<]
[>>Codigo 15 Saldo 600 <<]

In [85]:
contas[2].deposita(300)

In [86]:
print(contas[0])
print(contas[2])

[>>Codigo 15 Saldo 900 <<]
[>>Codigo 15 Saldo 900 <<]

In [91]:
def deposita_para_todas(contas):
    for conta in contas:
        conta.deposita(100)
contas = [conda_do_pedro, conta_da_dani]
print(contas[0], contas[1])
deposita_para_todas(contas)
print(contas[0], contas[1])

[>>Codigo 15 Saldo 1100 <<] [>>Codigo 47685 Saldo 1200 <<]
[>>Codigo 15 Saldo 1200 <<] [>>Codigo 47685 Saldo 1300 <<]

In [92]:
contas.insert(0, 76)
print(contas[0], contas[1], contas[2])

76 [>>Codigo 15 Saldo 1200 <<] [>>Codigo 47685 Saldo 1300 <<]

In [93]:
pedro = ('Pedro', 24, 1997) # tupla
dani = ('Dani', 25, 1996)

In [94]:
pedro[0]

'Pedro'

In [103]:
def deposita(conta):
    novo_saldo = conta[1] + 100
    codigo = conta[0]
    return (codigo, novo_saldo)

In [104]:
conta_do_gui = (15, 1000)

In [105]:
deposita(conta_do_gui)

(15, 1100)

In [110]:
usuarios = [pedro, dani]
usuarios

[('Pedro', 24, 1997), ('Dani', 25, 1996)]

In [111]:
usuarios.append(('Paula', 39, 1987))
usuarios

[('Pedro', 24, 1997), ('Dani', 25, 1996), ('Paula', 39, 1987)]

In [112]:
conta_do_gui = ContaCorrente(15)
conta_do_gui.deposita(500)
conta_da_dani = ContaCorrente(234876)
conta_da_dani.deposita(1000)

contas = (conta_do_gui, conta_da_dani)

contas

(<__main__.ContaCorrente at 0x1f082c3d220>,
 <__main__.ContaCorrente at 0x1f0800051f0>)

In [113]:
for conta in contas: 
  print(conta)

[>>Codigo 15 Saldo 500 <<]
[>>Codigo 234876 Saldo 1000 <<]

In [114]:
contas[0].deposita(300)

In [115]:
for conta in contas: 
  print(conta)

[>>Codigo 15 Saldo 800 <<]
[>>Codigo 234876 Saldo 1000 <<]

In [149]:
from abc import ABCMeta, abstractclassmethod
class Conta:
    def __init__(self, codigo):
        self._codigo = codigo
        self._saldo = 0
    
    def deposita(self, valor):
        self._saldo += valor
    
    @abstractclassmethod
    def passa_o_mes(self):
        pass
    
    def __str__(self):
        return "[>>Codigo {} Saldo {} <<]".format(self._codigo, self._saldo)

In [134]:
print(Conta(88))

[>>Codigo 88 Saldo 0 <<]

In [135]:
class ContaCorrente(Conta):
    
    def passa_o_mes(self):
        self._saldo -= 2

class ContaPoupanca(Conta):
    
    def passa_o_mes(self):
        self._saldo += 1.01
        self._saldo -=3

In [136]:
conta16 = ContaCorrente(16)
conta16.deposita(1000)
conta16.passa_o_mes()
print(conta16)

[>>Codigo 16 Saldo 998 <<]

In [137]:
conta17 = ContaPoupanca(17)
conta17.deposita(1000)
conta17.passa_o_mes()
print(conta17)

[>>Codigo 17 Saldo 998.01 <<]

In [139]:
conta16 = ContaCorrente(16)
conta16.deposita(1000)
conta17 = ContaPoupanca(17)
conta17.deposita(1000)
contas = [conta16, conta17]
for conta in contas:
    conta.passa_o_mes()
    print(conta)

[>>Codigo 16 Saldo 998 <<]
[>>Codigo 17 Saldo 998.01 <<]

In [140]:
import array as arr

In [141]:
arr.array('d', [1, 3.5])

array('d', [1.0, 3.5])

In [144]:
import numpy as np

In [146]:
numeros = np.array([1, 3.5])

In [147]:
numeros

array([1. , 3.5])

In [148]:
x = numeros + 3
print(x)

[4.  6.5]

In [169]:
class ContaSalario:
    
    def __init__(self, codigo):
        self._codigo = codigo
        self._saldo = 0
    
    def deposita(self, valor):
        self.saldo += valor
        
    def __eq__(self, outro):
        if type(outro) != ContaSalario:
            return False
        return self._codigo == outro._codigo and self._saldo == outro._saldo
    
    def __str__(self):
        return '[>> Codigo {} saldo {} <<]'.format(self._codigo, self._saldo)

In [163]:
conta1 = ContaSalario(37)
print(conta1)

[>> Codigo 37 saldo 0 <<]

In [164]:
conta2 = ContaSalario(37)
print(conta2)

[>> Codigo 37 saldo 0 <<]

In [165]:
conta1 == conta2

True

In [166]:
contas = [conta1]
conta1 in contas

True

In [167]:
conta2 in contas

True

In [171]:
conta1 = ContaSalario(37)
conta2 = ContaCorrente(37) 
conta1 == conta2

False

In [176]:
idades = [15, 87, 32, 65, 56, 32, 49, 37]
for i in range(len(idades)):
    print(i, idades[i])

0 15
1 87
2 32
3 65
4 56
5 32
6 49
7 37

In [177]:
enumerate(idades)

In [178]:
list(range(len(idades)))

[0, 1, 2, 3, 4, 5, 6, 7]

In [179]:
list(enumerate(idades))

[(0, 15), (1, 87), (2, 32), (3, 65), (4, 56), (5, 32), (6, 49), (7, 37)]

In [182]:
for indice, idade in enumerate(idades):
    print(indice,'x' , idade)

0 x 15
1 x 87
2 x 32
3 x 65
4 x 56
5 x 32
6 x 49
7 x 37

In [186]:
usuarios = [
    ('Guilherme', 37, 1981),
    ('Pedro', 24, 1997),
    ('Paulo', 39, 1979)
]
for nome, idade, nascimento in usuarios:
    print(nome)

Guilherme
Pedro
Paulo

In [187]:
for nome, _, _ in usuarios:
    print(nome)

Guilherme
Pedro
Paulo

In [188]:
idades

[15, 87, 32, 65, 56, 32, 49, 37]

In [189]:
sorted(idades)

[15, 32, 32, 37, 49, 56, 65, 87]

In [192]:
list(reversed(idades))

[37, 49, 32, 56, 65, 32, 87, 15]

In [193]:
sorted(idades, reverse=True)

[87, 65, 56, 49, 37, 32, 32, 15]

In [194]:
list(reversed(sorted(idades)))

[87, 65, 56, 49, 37, 32, 32, 15]

In [195]:
idades

[15, 87, 32, 65, 56, 32, 49, 37]

In [196]:
idades.sort()

In [197]:
idades

[15, 32, 32, 37, 49, 56, 65, 87]

In [198]:
nomes = ['guilherme', 'Daniela', 'Pedro']
sorted(nomes)

['Daniela', 'Pedro', 'guilherme']

In [199]:
class ContaSalario:
    
    def __init__(self, codigo):
        self._codigo = codigo
        self._saldo = 0
    
    def __eq__(self, outro):
        if type(outro) != ContaSalario:
            return False
        
        return self._codigo == outro._codigo and self._saldo == outro._saldo
    
    def deposita(self, valor):
        self._saldo += valor
    
    def __str__(self):
        return '[>> Codigo {} saldo {} <<]'.format(self._codigo, self._saldo)

In [200]:
conta_do_guilherme = ContaSalario(17)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(1000)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(510)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

In [201]:
for conta in contas:
    print(conta)

[>> Codigo 17 saldo 500 <<]
[>> Codigo 3 saldo 1000 <<]
[>> Codigo 133 saldo 510 <<]

In [204]:
def extrai_saldo(conta):
    return conta._saldo

for conta in sorted(contas, key=extrai_saldo):
    print(conta)

[>> Codigo 17 saldo 500 <<]
[>> Codigo 133 saldo 510 <<]
[>> Codigo 3 saldo 1000 <<]

In [205]:
from operator import attrgetter

for conta in sorted(contas, key=attrgetter('_saldo')):
    print(conta)

[>> Codigo 17 saldo 500 <<]
[>> Codigo 133 saldo 510 <<]
[>> Codigo 3 saldo 1000 <<]

In [208]:
class ContaSalario:
    
    def __init__(self, codigo):
        self._codigo = codigo
        self._saldo = 0
    
    def __eq__(self, outro):
        if type(outro) != ContaSalario:
            return False
        
        return self._codigo == outro._codigo and self._saldo == outro._saldo
    
    def __lt__(self, outro):
        return self._saldo < outro._saldo
    
    def deposita(self, valor):
        self._saldo += valor
    
    def __str__(self):
        return '[>> Codigo {} saldo {} <<]'.format(self._codigo, self._saldo)

In [209]:
conta_do_guilherme = ContaSalario(17)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(1000)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(510)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

In [211]:
conta_do_guilherme > conta_da_daniela

False

In [212]:
sorted(contas)

[<__main__.ContaSalario at 0x1f09a936ca0>,
 <__main__.ContaSalario at 0x1f09a9369a0>,
 <__main__.ContaSalario at 0x1f09a936a00>]

In [213]:
for conta in sorted(contas):
    print(conta)

[>> Codigo 17 saldo 500 <<]
[>> Codigo 133 saldo 510 <<]
[>> Codigo 3 saldo 1000 <<]

In [214]:
for conta in sorted(contas, reverse=True):
    print(conta)

[>> Codigo 3 saldo 1000 <<]
[>> Codigo 133 saldo 510 <<]
[>> Codigo 17 saldo 500 <<]

In [ ]:
conta_do_guilherme = ContaSalario(1700)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(1000)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(500)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

In [215]:
for conta in sorted(contas, key=attrgetter("_saldo", "_codigo")):
    print(conta)

[>> Codigo 17 saldo 500 <<]
[>> Codigo 133 saldo 510 <<]
[>> Codigo 3 saldo 1000 <<]

In [216]:
conta_do_guilherme = ContaSalario(1700)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(500)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(500)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

In [217]:
for conta in sorted(contas, key=attrgetter("_saldo", "_codigo")):
    print(conta)

[>> Codigo 3 saldo 500 <<]
[>> Codigo 133 saldo 500 <<]
[>> Codigo 1700 saldo 500 <<]

In [223]:
class ContaSalario:
    
    def __init__(self, codigo):
        self._codigo = codigo
        self._saldo = 0
    
    def __eq__(self, outro):
        if type(outro) != ContaSalario:
            return False
        
        return self._codigo == outro._codigo and self._saldo == outro._saldo
    
    def __lt__(self, outro):
        if self._saldo != outro._saldo:
            return self._saldo < outro._saldo
        return self._codigo < outro._codigo
    
    def deposita(self, valor):
        self._saldo += valor
    
    def __str__(self):
        return '[>> Codigo {} saldo {} <<]'.format(self._codigo, self._saldo)

In [224]:
conta_do_guilherme = ContaSalario(1700)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(500)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(500)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

In [225]:
for conta in sorted(contas):
    print(conta)

[>> Codigo 3 saldo 500 <<]
[>> Codigo 133 saldo 500 <<]
[>> Codigo 1700 saldo 500 <<]

In [226]:
conta_do_guilherme = ContaSalario(1700)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(1000)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(500)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

In [227]:
for conta in sorted(contas):
    print(conta)

[>> Codigo 133 saldo 500 <<]
[>> Codigo 1700 saldo 500 <<]
[>> Codigo 3 saldo 1000 <<]

In [229]:
# conta_do_guilherme <= conta_da_daniela ERROR

In [230]:
from functools import total_ordering

@total_ordering
class ContaSalario:
    
    def __init__(self, codigo):
        self._codigo = codigo
        self._saldo = 0
    
    def __eq__(self, outro):
        if type(outro) != ContaSalario:
            return False
        
        return self._codigo == outro._codigo and self._saldo == outro._saldo
    
    def __lt__(self, outro):
        if self._saldo != outro._saldo:
            return self._saldo < outro._saldo
        return self._codigo < outro._codigo
    
    def deposita(self, valor):
        self._saldo += valor
    
    def __str__(self):
        return '[>> Codigo {} saldo {} <<]'.format(self._codigo, self._saldo)

In [231]:
conta_do_guilherme = ContaSalario(1700)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(1000)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(500)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

In [232]:
conta_do_guilherme <= conta_da_daniela

True

In [233]:
conta_do_guilherme <= conta_do_paulo

False

In [234]:
conta_do_guilherme < conta_do_guilherme

False

In [235]:
conta_do_guilherme == conta_do_guilherme

True

In [236]:
conta_do_guilherme <= conta_do_guilherme

True